@import url("https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: #ffffff;
  font-family: "Saira", sans-serif;
  overflow-x: hidden;
}

.hero-background {
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 0.1) 0%,
    rgba(18, 18, 18, 0.8) 100%
  );
}
